html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
}

.window-scroller-override {
  height: 100% !important;
}

.mui-grid {
  height: auto !important;
  justify-content: center;
}

.mui-grid-item {
  width: 275px;
  /*padding: 1.5 * theme.spacing.unit,*/
}

.mui-row {
  display: flex;
  justify-content: space-evenly;
}

.bordered {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.item img {
  height: 90px;
  align-self: center;
}
